<header>
  <div>
      <a class="navbar-brand fw-bold"  routerLink="/AllMovies" ><span>S</span>ILVER <span>S</span>CREEN</a>
  </div>

  
</header>

<!-- empty watchlist -->
<div id="status" *ngIf="wishlistStatus" class="container">
  <div class="col-lg-12 text-center">
<h1>
  Start watching movies today
</h1>        <div><button routerLink="/AllMovies">HOME</button></div>
  </div>
</div>

<div *ngIf="!wishlistStatus" id="containers" class="container">
    <div class="row  gx-4 gx-lg-5  row-cols-2 row-cols-md-3 row-cols-xl-4 m-4">
        <div *ngFor="let movie of movies " class="m-4">
          <div id="card" class="card h-100">
            <img   [src]="movie.Poster" class="card-img-top" alt="...">
              <h5 class="card-title">{{movie.Title}}</h5>
<div class="buttons text-center">
    <button  title="Remove from Watchlist" class="buttons" (click)="removeWatchlist(user,movie.Title)"><i class="fa-solid fa-trash text-danger"></i></button>
</div>          </div>
        </div>
        
      </div>
</div >